/*
Copyright Chris Gerencser and Kevin Kowalsky
pastebin.com/92Fi3zz8
*/
body{
    margin-left: auto;
    margin-right: auto;
    width:60%;
}

img, h1{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    border: .3em solid red;
    padding: 1em;
}

footer{
    border-top: .2em solid blue;
}